* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: beige;
}

#conditions-h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-decoration: underline;

}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: together; */
    max-height: 100px;
    width: 25%;
}

.wave-height, .wave-direction, .wave-period {
    min-height: 25px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    
}



p:nth-child(2) {
    font-weight: 100;
    margin-left: 5px;
}